body{
	background-color: white;
}
#header{
	height: 15%;
	margin-bottom: 100px;
}
ul.navigation{
	position: absolute;
		top: 25px;
		right: 50px;
	list-style-type: none;
}
ul.navigation li{
	float: left;
	margin-left: 50px;
}
ul.navigation a{

	text-decoration: none;
	font-size: 25px;
	color: green;
}
/****Content***/
#categories{
	width: 100%;
}
.category{
	
	text-align: center;
}
.category img{
	width: 150px;
	height: 111;
}
.product{
	float: left;
    text-align: center;
    font-size: 25px;
}
input[type = text]{
	background-color: ##0a9246;
	position: fixed;
		right: auto;
}

#records
{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
}

#records td, #records th 
{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#records tr:nth-child(even) 
{
  background-color: rgb(199, 219, 110);
}
<<<<<<< HEAD
/* About US */
.staffcard{
	float: left;
	color: green;
=======

/* Login */
#Login-FlexBox-Container
{
  display: flex;
}

#Login
{
  float: left;
  margin-top: 3em;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 1em;
  padding-top: 1em;
  width: 40%;
  height: auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  text-align: center;
}

.info
{
  width: 50%;
  text-align: center;
  border: none;
  border-bottom: 3px solid rgb(199, 219, 110);
}

input:focus
{
  outline: none;
}







@media only screen and (max-width: 550px)
{
  #StoreHomePage-FlexBox-Container, #ProductDetails-Container, #ProductDiv, #Login-FlexBox-Container
  {
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }

  #Login-FlexBox-Container
  {
    flex-direction:column;
    align-items: center;
    justify-content: center;
  }

  #CartButtons
  {
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-left: -5%;
    margin-top: 3%;
  }

  .Products
  {
    width: 10em;
    height: 15em;
    margin-top: 6.5%;
    margin-left: 8.5%;
    float: left;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
  }

  #ProductDetails
  {
    height: auto;
    width: auto;
    margin-top: 3%;
    margin-left: -5%;
    float: left;
  }

  #Login
  {
    float: left;
    margin-top: 10em;
    padding-bottom: 1em;
    width: 75%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    text-align: center;
  }
>>>>>>> 24e46bd16e30a967fa7a716825d13848490a9f35
}